<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.huatech.mybatis.mapper.UserMapper">

    <select id="findAll" resultType="com.huatech.mybatis.entity.User">
        select * from t_user
    </select>
    <select id="getId" resultType="com.huatech.mybatis.entity.User">
        select * from t_user where id=#{id,jdbcType=INTEGER}
    </select>
    <select id="findAllByParam" resultType="com.huatech.mybatis.entity.User">
        select * from t_user t where t.name like concat('%',#{inputParam},'%') or t.desc like concat('%',#{inputParam},'%')
    </select>
</mapper>
